<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982551315429-sm64knpl3ovqj4efhgr23qe3fskihu66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982551315429-sm64knpl3ovqj4efhgr23qe3fskihu66</string>
	<key>API_KEY</key>
	<string>AIzaSyAbhNQ1drUYatnNaUHN_xEtOCQD0b_BeeE</string>
	<key>GCM_SENDER_ID</key>
	<string>982551315429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.supunsrilal.NIBM-Events</string>
	<key>PROJECT_ID</key>
	<string>nibm-events-bc394</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-events-bc394.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982551315429:ios:459de35a18082dbc85e50c</string>
	<key>DATABASE_URL</key>
	<string>https://nibm-events-bc394.firebaseio.com</string>
</dict>
</plist>